@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

body {
  font-family: "Open Sans", serif;
  background-color: var(--clr-primary);
  color: white;
  font-size: 14px;
}

a {
  color: white;
}

h1 {
  margin-top: .5rem;
  margin-bottom: 1rem;
}

.btn-primary,
.btn-danger {
  background-color: var(--clr-green);
  padding: .5rem;
  text-decoration: none;
  cursor: pointer;
  border-radius: var(--border-radious);
  border: var(--borderWidth-thin) solid var(--clr-border);
}

.btn-danger {
  background-color: var(--clr-danger-muted) !important;
  border: var(--borderWidth-thin) solid var(--clr-border-danger);
}
