.form form .dow_chb_wrapper input[type="checkbox"] {
  width: 1rem;
}

.form form .dow_chb_wrapper {
  display: flex;
  justify-content: space-between;
}

#lbl_dow {
  margin-bottom: .5rem;
}

#lbl_dom {
  margin-top: .5rem;
}

#custom-frequency {
  flex-direction: column;
  justify-content: space-between;
}
