:root {
  --container-size: 5vw;
  --clr-primary: #010409;
  --clr-secondary: #0d1117;
  --clr-tertiary: #151b23;
  --clr-green: #238636;
  --clr-danger-muted: #f851491a;
  --clr-warning-muted: #e08e455e;

  --clr-link-blue: #4493f8;
  --clr-light-blue: #39a2ae;
  --clr-light-green: #71f79f;
  --clr-red: #9b1d20;
  --clr-orange: #e08e45;
  --clr-gray-blue: #627c85;

  --border-radious: 5px;
  --borderWidth-thin: max(1px, 0.0625rem);
  --clr-border: #3d444db3;
  --clr-border-danger: #f8514966;
}
