.vehicle-wrapper {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: center;
}

.vehicle {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--clr-secondary);
	border-radius: var(--border-radious);
	border: var(--borderWidth-thin) solid var(--clr-border);
	width: 17rem;
	padding: 1rem;
	margin-top: 1rem;
	text-align: center;
	min-height: 8rem;
}

.btn-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1rem;
}
